.addNewProduct-box {
  .newProdut-btn {
    padding: 0.6rem 1rem;
    background-color: black;
    color: white;
    cursor: pointer;
    border: solid 1px white;

    width: 7rem;
    &:hover {
      background-color: hsla(0, 0%, 0%, 0.719);
    }
  }

  .newProduct-response {
    text-align: center;
    padding: 15rem 0 17rem;
    button {
      @extend .newProdut-btn;
      width: 10rem;
      margin-top: 2rem;
      border: solid 1px white;
    }
  }
  .newProduct-conntainer {
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 10rem;
    h2 {
      margin-bottom: 3rem;
    }

    select {
      margin-bottom: 1rem;
      width: 18rem;
      padding: 0.4rem 0;
    }

    input {
      width: 18rem;
      height: 2rem;
      margin-bottom: 1rem;
    }
    textarea {
      margin-bottom: 1rem;
    }
    button {
      @extend .newProdut-btn;
    }
    span {
      padding-right: 1rem;
    }
  }
}
