.search-result-box {
  margin-top: 4rem;
  padding: 0 3rem;
  h2 {
    margin-bottom: 3rem;
  }
  .search-result-not-found {
    margin-top: 3rem;
    margin-bottom: 25rem;
    p {
      text-align: center;
    }
  }
}
