.navBox {
  .navBox-nav {
    display: flex;
    justify-content: space-between;

    .nav-icon {
      display: grid;
      grid-template-columns: auto auto auto auto auto auto;
      div {
        margin-right: 1rem;
      }
      .navBox-cart {
        display: none;
        &:hover {
          display: block;
        }
      }

      .nav-icon_cart {
        &:hover {
          + {
            .navBox-cart {
              display: block;
            }
          }
        }
      }
    }
  }
  //   .nav-icon_cart:hover .navBox-cart {
  //     // color: red;
  //     display: block;
  //   }
}
