.category-box {
  padding: 4rem 4rem 0;
  h2 {
    text-align: center;
    padding-bottom: 2rem;
  }

  .categories {
    display: flex;
    justify-content: space-around;

    .categories-category {
      margin-right: 2rem;
      img {
        width: 110%;
      }
    }
  }
}
