.navBox {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0;
  padding-top: 2rem;
  width: 100%;

  .navBox-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 2rem;

    .navBox-nav_home {
      margin-right: 1rem;
    }

    .nav-icon {
      display: grid;
      grid-template-columns: auto auto auto auto auto;
      
      .nav-icon_search {
        input {
          outline: none;
          width: 12rem;
          height: 2rem;
          border: #FFB26B solid 1px;
        }
        button {
          width: 2rem;
          height: 2rem;
          background-color: hsla(29, 100%, 71%, 0.856);
          border: none;
          color: white;
        }
      }
      
      div {
        margin-right: 1rem;
      }
      .navBox-cart {
        display: none;
        &:hover {
          display: block;
        }
      }
      .nav-icon_cart {
        &:hover {
          + {
            .navBox-cart {
              display: block;
            }
          }
        }
        span {
          position: relative;
          bottom: 0.57em;
          background-color: #FFB26B;
          padding: 0 0.5rem;
          border-radius: 10px;
          color: white;
          font-size: medium;
        }
      }
    }
    .link {
      text-decoration: none;

    }
    .btn {
      padding: 0.4rem 1rem;
      background-color: #ffb300a6;
      border-radius: 10px;
    }
  }
}
