// component styles
@use "./styleComponent/footer";
@use "./styleComponent/button";
@use "./styleComponent/cartDropdown";
@use "./styleComponent/categories";
@use "./styleComponent/productCard";
@use "./styleComponent/productEdit";
@use "./styleComponent/subcribe";
@use "./styleComponent/navigation";
@use "./styleComponent/userPopup";


// pages styles
@use "./stylePages/home";
@use "./stylePages/loginLogout";
@use "./stylePages/newProduct";
@use "./stylePages/productList";
@use "./stylePages/productRoute";
@use "./stylePages/searchResult";
@use "./stylePages/cartPage";

@use "./app";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
