.products {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  gap: 3rem;

  .products-card {
    margin-right: 2rem;
    .products-title-price {
      display: flex;
      padding: 1rem 0;
      span {
        padding-left: 1rem;
      }
     
    }
    img {
      width: 110%;
    }
  }
}
