.cartpage-box {
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;
    margin-bottom: 2rem;

    .header-block {
      width: 23%;

      &:last-child {
        width: 8%;
      }
    }
  }

  .cartpage-box-item {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .itemAmount {
      background-color: black;
      padding: 0 0.5rem;
      color: white;
      &:hover {
        cursor: pointer;
      }
    }

    .cartpage-box-item_amount {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
    }
  }
  img {
    width: 3rem;
    height: 3rem;
  }
  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 23px;
  }
}
