.navBox {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0;
  padding-top: 2rem;
  width: 100%;
  background-color: hsla(251, 55%, 22%, 0.724);
  color: white;
  .navBox-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    .navBox-nav-left {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 2rem;
      // width: 10rem;
    }
    .navBox-nav_home {
      text-align: center;
    }
    .nav-icon {
      // display: grid;
      // grid-template-columns: auto auto auto auto auto;
      display: flex;
      flex-wrap: wrap;
      .nav-icon_search {
        input {
          outline: none;
          width: 12rem;
          padding-top: 0.6rem;
          border: #ffb26b solid 1px;
          margin-bottom: 10px;
        }
        button {
          width: 2rem;
          background-color: transparent;
          border: none;
          color: white;
          cursor: pointer;
        }
      }
      div {
        margin-right: 1rem;
      }
      .navBox-cart {
        display: none;
        &:hover {
          display: block;
        }
      }
      .nav-icon_cart {
        &:hover {
          + {
            .navBox-cart {
              display: block;
            }
          }
        }
        span {
          position: relative;
          bottom: 0.57em;
          background-color: #ffb26b;
          padding: 0 0.5rem;
          border-radius: 10px;
          color: white;
          font-size: medium;
        }
      }
    }
    .link {
      text-decoration: none;
    }
    .btn {
      padding: 0.3rem 1rem;
      border-radius: 10px;
      color: white;
    }
  }
}
