.navBox {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0;
  padding-top: 2rem;
  width: 100%;
  background-color: hsla(251, 55%, 22%, 0.724);
  color: white;
  .navBox-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 2rem 2rem;
    .navBox-nav-left {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 2rem;
      margin-bottom: 1rem;
    }
    .nav-left_sub {
      text-align: center;
      color: white;
    }
    .nav-icon {
      display: flex;
      flex-wrap: wrap;
      .nav-icon_search {
        input {
          outline: none;
          width: 10rem;
          padding-top: 0.4rem;
          padding-bottom: 0.3rem;
          border: 1px solid #ffb26b;
          border-radius: 10px;
          margin-bottom: 10px;

          &:focus {
            outline: none;
            width: 15rem;
            transition: width 500ms;
          }
        }
        button {
          width: 2rem;
          background-color: transparent;
          border: none;
          color: white;
          cursor: pointer;
        }
      }
      .nav-icon_dark-mode {
        cursor: pointer;
      }
      div {
        margin-right: 1rem;
      }
      .navBox-cart {
        display: none;

        &:hover {
          display: block;
        }
      }
      .nav-icon_cart {
        &:hover {
          + {
            .navBox-cart {
              display: block;
            }
          }
        }
        span {
          position: relative;
          bottom: 0.57em;
          background-color: #ffb26b;
          padding: 0 0.5rem;
          border-radius: 10px;
          color: white;
          font-size: medium;
        }
      }
      .nav-icon_user-profile {

        .nav-user-profile {
          text-align: center;
          .user-profile-image {
            img {
              width: 1.9rem;
              height: 1.8rem;
              border-radius: 20px;
            }
          }
        }
      }
    }
    .link {
      text-decoration: none;
    }
    .btn {
      padding: 0 0.7rem;
      border-radius: 10px;
      color: white;
    }
  }
}
