.products {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  gap: 3rem;

  .products-card {
    overflow: hidden;
    cursor: pointer;
    &:hover {
      img {
        transform: scale(1.03);
        transition: all 0.4s ease-in-out;
      }
    }
    .products-title-price {
      display: flex;
      gap: 1rem;
      padding: 1rem 0;
      span {
        padding-left: 1rem;
      }
    }
    img {
      width: 110%;
    }
    .product-card-button {
      display: flex;
      justify-content: space-between;
      .card-button_edit_deletebox {
        .edit-delete-button {
          border: none;
          background-color: transparent;
          margin: 0 0.5rem;
          color: green;
          cursor: pointer;
          &:hover {
            color: red;
          }
        }
      }
    }
  }
}
