.subcrible-box {
  text-align: center;
  padding-bottom: 2rem;
  h1 {
    font-size: 1.5rem;
  }
  .subcrible-box-animation {
    display: flex;
    justify-content: center;

    .animated-text-container {
      width: 15rem;
      h4 {
        margin: 1rem;
        overflow: hidden;
        border-right: 0.15em solid rgb(255, 145, 0);
        white-space: nowrap;
        margin: 0 auto;
        animation: typing 5s steps(40, end) infinite,
          blink-caret 0.75s step-end infinite;
      }
      @keyframes typing {
        0% {
          width: 0;
        }

        50% {
          width: 100%;
        }

        100% {
          width: 0;
        }
      }

      @keyframes blink-caret {
        from,
        to {
          border-color: transparent;
        }
        50% {
          border-color: rgb(228, 128, 13);
        }
      }
    }
  }

  input {
    margin-bottom: 1.5rem;
    text-align: center;
    border: none;
    border-bottom: 1px solid rgb(12, 12, 12);
    width: 15rem;
    padding: 1rem;

    &:focus {
      outline: none;
      width: 20rem;
      transition: width 500ms;
    }
  }
  button {
    padding: 1rem 3rem;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    &:hover {
      background-color: rgb(255, 208, 147);

      transition: background-color 0.5s ease-out 100ms;
    }
  }
}
