.profileBox {
    padding-left: 2rem;

  .profile-boxsub {
    background-color: white;
    padding: 1rem 0 1rem;
    padding-left: 1rem;
    .profileBox-link {
      text-decoration: none;
      text-align: center;
    }
  }
}
